.html, body{
    height: 100%;
    width: 100%;
}

.bold{
    font-weight: bold;
}
.navbar-custom{
    background-color: darkcyan;
}
.title_whitespace{
    padding-top: 180px;
    padding-bottom:30px;
}

.page_whitespace{
    padding-top: 50px;
}

.resume_whitespace{
    padding-top: 30px;
    padding-bottom: 50px;
}

.center{
    position: relative;
    text-align: center; 
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.nopad{
    padding-right: 0px;
    padding-left: 0px;
}

.imgsize{
    width: 100px;
}

h1{
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 20px;
    margin: 0;
    background-color: coral;
/*    background: url(https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/1600/900/75/dam/disneyland/attractions/disneyland/sleeping-beauty-castle-walkthrough/sleeping-beauty-castle-exterior-16x9.jpg?1593556896598);
*/    background-size:  cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h2{
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    margin: 0;
    background-color: coral;
    background-size:  cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h3{
    font-size: 25px;
    font-weight: 800;
    margin: 0;
    background-color: navy;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.white_font{
    color: white;
    font-family: 'Garamond';
    font-size: 18px;
}

.white{
    color: white;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: coral;
    color: white;
    text-align: center;
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 12px;
  position: absolute;
  left: 265px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
