h1 {
    font-size: 2em; 
    font-family: 'Sans-Serif';
    position: fixed;
    left: 30px; 
}
body {
    font-size: 0.5em; 
    font-family: 'Sans-Serif'; 
    position: fixed; 
    right: 30px;
}
header {
    
}
nav ul, footer ul {
    list-style: none;
}
nav ul li, footer ul li {

}
