body {
    margin: 60px auto;
    width: 70%;
    background-image: url('Ocean.jpg'); 
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline; 
    margin-right: 20px; 
}
ul.posts {
    margin: 20px auto 40px; 
    font-size: 1.5em; 
} 
ul.posts li {
    list-style: none; 
} 
h1 {
  text-align: center; 
  font-size: 3em; 
  font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
} 
p {
    font-size: 1.5em; 
    line-height: 1.4em; 
}
.container{
    margin-top: 300px; 
    margin-bottom: 300px; 
}
.column {
    float: left; 
    width: 33%; 
    padding: 5px; 
} 
.row::after {
    content: ""; 
    clear: both; 
    display: table; 
} 
