body {
    margin: 10px auto;
    width: 80%;
}
h1 {
  text-align: left; 
} 
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    display: flex; 
    justify-content: flex-end; 
}
#rectangle {
    width: 100px; 
    height: 200px; 
    background: blue; 
}
