h1 {
    font-size: 2em; 
    font-family: 'Sans-Serif';
    position: fixed;
    left: 30px; 
}
body {
    font-size: 2em; 
    font-family: 'Sans-Serif'; 
    position: fixed; 
    right: 30px;
}
nav ul {
    padding: 0px; 
    list-style: none;
    position: fixed; 
    right: 30px; 
}
nav ul li {
    display: inline; 
    margin-right: 20px; 
}
