h1 {
    text-align: left; 
    font-size: 2cm; 
    font-family: 'Sans-Serif';
}
body {

}
header {
    margin-top: 30px;    
}
nav ul, footer ul {
    list-style: none;
}
nav ul li, footer ul li {

}
