{% extends "index.html" %}

{% block content %} 

<script type="text/javascript" src="{{ url_for('static', filename = 'homepage.js') }}"></script> 
 <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">    
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>

</script>
<body style="background-color:#DED1BD">
<!-- <body style="background-color:#FFE4E1"> -->
<div class="container">
    <h1 style="font-family: serif;text-align: center; background-color: floralwhite;" class="title_whitespace">Morgan Zee</h1>

    <div class = "row white_font">

        <div class="col-md-2">
        </div>
        <div class="col-md-8">
                <div style="color: black; padding-bottom: 20px; text-align: center;">I am a user-centered designer who wants to create meaningful change, help people connect with one another, and leverage technology for social good.</div>
        </div>
            <!-- <p><i class="arrow down"></i></p> -->
        <div class="col-md-2">
        </div>
    </div> 
</div>

<!-- <div class="footer">
    <p>Thank you for visiting!</p>
</div> -->

</body>
{% endblock %}
